# Tiền xử lý các cột trong tập dữ liệu
**Note:** Dữ liệu được sử dụng tại đây là file `./Data/data_2018_2019.csv`. File này được merge từ 2 file `./Data/data_2018.csv` và `./Data/data_2019.csv`. Chi tiết xem tại `./preprocess/merge_data.ipynb`

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../../Data/df_merged.csv')
for col in list(df.columns):
    print(col, df[col].isna().sum())

Unnamed: 0 0
Reference Number 0
Grid Ref: Easting 0
Grid Ref: Northing 0
Number of Vehicles 0
Accident Date 0
Time (24hr) 0
1st Road Class 0
Road Surface 1
Lighting Conditions 0
Weather Conditions 0
Type of Vehicle 1
Casualty Class 0
Casualty Severity 0
Sex of Casualty 0
Age of Casualty 0

- Tại cột `Road Surface` và cột `Type of Vehicle` có 1 giá trị null, điền giá trị mode của cột vào ô này

In [5]:
df['Road Surface'].fillna(df['Road Surface'].mode()[0], inplace=True)
df['Type of Vehicle'].fillna(df['Type of Vehicle'].mode()[0], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13839 entries, 0 to 13838
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           13839 non-null  int64
 1   Reference Number     13839 non-null  object
 2   Grid Ref: Easting    13839 non-null  int64
 3   Grid Ref: Northing   13839 non-null  int64
 4   Number of Vehicles   13839 non-null  int64
 5   Accident Date        13839 non-null  object
 6   Time (24hr)          13839 non-null  int64
 7   1st Road Class       13839 non-null  object
 8   Road Surface         13839 non-null  object
 9   Lighting Conditions  13839 non-null  object
 10  Weather Conditions   13839 non-null  object
 11  Type of Vehicle      13839 non-null  object
 12  Casualty Class       13839 non-null  object
 13  Casualty Severity    13839 non-null  object
 14  Sex of Casualty      13839 non-null  object
 15  Age of Casualty      13839 non-null  int64
dtypes: int64(6), object(10)
memory usage: 1.7+ MB

## Tiền xử lý cột `Accident Date`
- `Accident Date` đang ở dạng `object` nên được ép kiểu về `Datetime` và sắp xếp tăng dần từ năm 2014 đến năm 2019

In [7]:
df['Accident Date'] = pd.to_datetime(df['Accident Date'])
df.sort_values(by=['Accident Date'], ascending=True, inplace=True)
df.head()

,Unnamed: 0,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
11662,354,140000717,429427,433921,2,2014-01-01,1415,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Passenger,Slight,Male,28
11700,392,140012302,430481,433453,1,2014-01-01,5,Unclassified,Dry,Darkness: Street lights present and lit,Fine without high winds,Taxi/Private hire car,Passenger,Slight,Male,29
11659,351,140000292,428515,437286,3,2014-01-01,220,Unclassified,Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Female,21
11660,352,140000304,429117,439812,1,2014-01-01,130,Unclassified,Wet/Damp,Darkness: Street lights present and lit,Fine without high winds,Car,Pedestrian,Serious,Female,34
11661,353,140000717,429427,433921,2,2014-01-01,1415,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Male,34

## Tiền xử lý cột `Time (24hr)`
- `Time (24hr)` đang ở dạng `object` nên được ép kiểu về `Datetime`

In [8]:
for i in range(len(df['Time (24hr)'])):
  df['Time (24hr)'][i] = str(df['Time (24hr)'][i]//100) + ':' + str(df['Time (24hr)'][i]%100)

df['Time (24hr)'] = pd.to_datetime(df['Time (24hr)'], format='%H:%M').dt.time
df.head()

<ipython-input-8-a05df258ba75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time (24hr)'][i] = str(df['Time (24hr)'][i]//100) + ':' + str(df['Time (24hr)'][i]%100)
/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Unnamed: 0,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
11662,354,140000717,429427,433921,2,2014-01-01,14:15:00,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Passenger,Slight,Male,28
11700,392,140012302,430481,433453,1,2014-01-01,00:05:00,Unclassified,Dry,Darkness: Street lights present and lit,Fine without high winds,Taxi/Private hire car,Passenger,Slight,Male,29
11659,351,140000292,428515,437286,3,2014-01-01,02:20:00,Unclassified,Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Female,21
11660,352,140000304,429117,439812,1,2014-01-01,01:30:00,Unclassified,Wet/Damp,Darkness: Street lights present and lit,Fine without high winds,Car,Pedestrian,Serious,Female,34
11661,353,140000717,429427,433921,2,2014-01-01,14:15:00,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Male,34

In [9]:
df.to_csv('../../Data/afterPreprocess.csv', index=False)