# Tiền xử lý các cột trong tập dữ liệu
**Note:** Dữ liệu được sử dụng tại đây là file `./Data/data_2018_2019.csv`. File này được merge từ 2 file `./Data/data_2018.csv` và `./Data/data_2019.csv`. Chi tiết xem tại `./preprocess/merge_data.ipynb`

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../../Data/data_2018_2019.csv')
df.head()

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,51B0230,433936,428874,1,11/01/2018,700,6,U,1,4,1,E08000035,9,3,3,2,87
1,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,60
2,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,51
3,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,50
4,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,51

In [6]:
print('Shape:',df.shape)
df.info()

Shape: (3902, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3902 entries, 0 to 3901
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     3902 non-null   object
 1   Grid Ref: Easting    3902 non-null   int64
 2   Grid Ref: Northing   3902 non-null   int64
 3   Number of Vehicles   3902 non-null   int64
 4   Accident Date        3902 non-null   object
 5   Time (24hr)          3902 non-null   int64
 6   1st Road Class       3902 non-null   int64
 7   1st Road Class & No  3902 non-null   object
 8   Road Surface         3902 non-null   int64
 9   Lighting Conditions  3902 non-null   int64
 10  Weather Conditions   3902 non-null   int64
 11  Local Authority      3902 non-null   object
 12  Type of Vehicle      3902 non-null   int64
 13  Casualty Class       3902 non-null   int64
 14  Casualty Severity    3902 non-null   int64
 15  Sex of Casualty      3902 non-null   int64
 16  Age of Casualty      3902 non-null   int64
dtypes: int64(13), object(4)
memory usage: 518.4+ KB

**Nhận xét:**
- Trong bảng dữ liệu không chứa giá trị null.
- Các cột sẽ được giữ nguyên:`Reference Number`, `Grid Ref: Easting`, `Grid Ref: Northing`, `Number of Vehicles`, `1st Road Class & No`, `Age of Casualty`

## Tiền xử lý cột `Accident Date`
- `Accident Date` đang ở dạng `object` nên được ép kiểu về `Datetime` và sắp xếp tăng dần từ năm 2018 đến năm 2019

In [7]:
df['Accident Date'] = pd.to_datetime(df['Accident Date'])
df.sort_values(by=['Accident Date'], ascending=True, inplace=True)
df.head()

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
26,5110577,430660,430766,1,2018-01-01,344,6,U,2,4,1,E08000035,9,2,3,1,23
25,5110577,430660,430766,1,2018-01-01,344,6,U,2,4,1,E08000035,9,1,3,1,23
27,5110577,430660,430766,1,2018-01-01,344,6,U,2,4,1,E08000035,9,2,2,1,33
28,5111304,431442,432717,2,2018-01-01,1335,3,A63,1,1,1,E08000035,9,1,3,2,57
30,5111365,429509,431308,2,2018-01-01,1421,6,U,2,1,2,E08000035,9,2,3,1,18

## Tiền xử lý cột `Time (24hr)`
- `Time (24hr)` đang ở dạng `object` nên được ép kiểu về `Datetime`

In [8]:
for i in range(len(df['Time (24hr)'])):
  df['Time (24hr)'][i] = str(df['Time (24hr)'][i]//100) + ':' + str(df['Time (24hr)'][i]%100)

df['Time (24hr)'] = pd.to_datetime(df['Time (24hr)'], format='%H:%M').dt.time
df

<ipython-input-8-7695472350c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time (24hr)'][i] = str(df['Time (24hr)'][i]//100) + ':' + str(df['Time (24hr)'][i]%100)
/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
26,5110577,430660,430766,1,2018-01-01,03:44:00,6,U,2,4,1,E08000035,9,2,3,1,23
25,5110577,430660,430766,1,2018-01-01,03:44:00,6,U,2,4,1,E08000035,9,1,3,1,23
27,5110577,430660,430766,1,2018-01-01,03:44:00,6,U,2,4,1,E08000035,9,2,2,1,33
28,5111304,431442,432717,2,2018-01-01,13:35:00,3,A63,1,1,1,E08000035,9,1,3,2,57
30,5111365,429509,431308,2,2018-01-01,14:21:00,6,U,2,1,2,E08000035,9,2,3,1,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,6CU0181,442094,434619,1,2019-12-30,04:22:00,1,M1,2,4,4,E08000035,9,1,3,1,27
3898,6CU0363,423019,437653,1,2019-12-30,10:00:00,3,A65,4,1,1,E08000035,5,1,2,1,36
3900,6CV1518,421466,433999,3,2019-12-31,16:40:00,3,A647,1,4,1,E08000035,9,1,3,1,41
3899,6CV0723,436853,442515,2,2019-12-31,13:40:00,3,A58,1,1,1,E08000035,1,1,2,1,59
3901,6CV1518,421466,433999,3,2019-12-31,16:40:00,3,A647,1,4,1,E08000035,9,2,3,1,26

## Thay dữ liệu 
- Một số cột chứa dữ liệu dạng số rời rạc. Mỗi số đại diện cho một category.
- Mục đích: Dễ dàng trong việc trực quan các biểu đồ
- Các cột được thay dữ liệu: `1st Road Class`, `Road Surface`, `Lighting Conditions`, `Weather Conditions`, `Type of Vehicle`, `Casualty Class`, `Casualty Severity`, `Sex of Casualty `
- Nội dung thay thế có thể tìm thấy tại: `./Data/guidace.xlsx`.
- Cột `Local Authority`: chứa duy nhất 1 giá trị là 'E08000035' - Một mã biểu thị vị trí cho vùng. Do đó được giữ nguyên

In [51]:
# # thay dữ liệu cho các cột trong dataset 
# df['1st Road Class'].replace({1: 'Motorway', 
#                               2: 'A(M)', 
#                               3: 'A', 
#                               4: 'B', 
#                               5: 'C', 
#                               6: 'Unclassified'}, inplace=True)

# df['Road Surface'].replace({1: 'Dry', 
#                             2: 'Wet / Damp', 
#                             3: 'Snow', 
#                             4: 'Frost / Ice', 
#                             5: 'Flood (surface water over 3cm deep)'}, inplace=True)

# df['Casualty Class'].replace({1: 'Driver or rider', 
#                               2: 'Vehicle or pillion passenger', 
#                               3: 'Pedestrian'}, inplace=True)

# df['Lighting Conditions'].replace({1: 'Daylight: street lights present', 
#                                    2: 'Daylight: no street lighting', 
#                                    3: 'Daylight: street lighting unknown', 
#                                    4: 'Darkness: street lights present and lit', 
#                                    5: 'Darkness: street lights present but unlit', 
#                                    6: 'Darkness: no street lighting', 
#                                    7: 'Darkness: street lighting unknown'}, inplace=True)

# df['Casualty Severity'].replace({1: 'Fatal', 
#                                  2: 'Serious', 
#                                  3: 'Slight'}, inplace=True)

# df['Weather Conditions'].replace({1: 'Fine without high winds', 
#                                   2: 'Raining without high winds', 
#                                   3: 'Snowing without high winds', 
#                                   4: 'Fine with high winds', 
#                                   5: 'Raining with high winds', 
#                                   6: 'Snowing with high winds', 
#                                   7: 'Fog or mist ñ if hazard', 
#                                   8: 'Other', 
#                                   9: 'Unknown'}, inplace=True)

# df['Sex of Casualty'].replace({1: 'Male', 2: 'Female'}, inplace=True)

# df['Type of Vehicle'].replace({1:	'Pedal cycle', 
#                                2:	'M/cycle 50cc and under', 
#                                3:	'Motorcycle over 50cc and up to 125cc', 
#                                4:	'Motorcycle over 125cc and up to 500cc', 
#                                5:	'Motorcycle over 500cc', 
#                                6:	'[Not used]', 
#                                7:	'[Not used]', 
#                                8:	'Taxi/Private hire car', 
#                                9:	'Car', 
#                                10:	'Minibus (8 ñ 16 passenger seats)', 
#                                11:	'Bus or coach (17 or more passenger seats)', 
#                                12:	'[Not used]', 
#                                13:	'[Not used]', 
#                                14:	'Other motor vehicle', 
#                                15:	'Other non-motor vehicle', 
#                                16:	'Ridden horse', 
#                                17:	'Agricultural vehicle (includes diggers etc.)', 
#                                18:	'Tram / Light rail', 
#                                19:	'Goods vehicle 3.5 tonnes mgw and under', 
#                                20:	'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw', 
#                                21:	'Goods vehicle 7.5 tonnes mgw and over', 
#                                22:	'Mobility Scooter', 
#                                90:	'Other Vehicle ', 
#                                97:	'Motorcycle - Unknown CC'}, inplace=True)

In [63]:
# duyệt lại các cột vừa được thay dữ liệu
categoricalCols = ['1st Road Class', 'Road Surface', 'Casualty Class', 'Lighting Conditions', 'Casualty Severity', 'Weather Conditions', 'Sex of Casualty', 'Type of Vehicle']

for col in categoricalCols:
  print(f'column: {col}\n{df[col].value_counts()}\n\n')

column: 1st Road Class
Unclassified    2069
A               1203
Motorway         338
B                149
A(M)             135
C                  8
Name: 1st Road Class, dtype: int64


column: Road Surface
Dry                                    2885
Wet / Damp                              946
Frost / Ice                              37
Snow                                     25
Flood (surface water over 3cm deep)       7
9                                         2
Name: Road Surface, dtype: int64


column: Casualty Class
Driver or rider                 2356
Vehicle or pillion passenger     904
Pedestrian                       642
Name: Casualty Class, dtype: int64


column: Lighting Conditions
Daylight: street lights present              2832
Darkness: street lights present and lit       894
Darkness: no street lighting                   87
Darkness: street lighting unknown              70
Darkness: street lights present but unlit      19
Name: Lighting Conditions, dtype: int64


column: Casualty Severity
Slight     3209
Serious     645
Fatal        48
Name: Casualty Severity, dtype: int64


column: Weather Conditions
Fine without high winds       3390
Raining without high winds     381
Raining with high winds         45
Fine with high winds            35
Other                           20
Snowing without high winds      19
Fog or mist ñ if hazard          5
Snowing with high winds          5
Unknown                          2
Name: Weather Conditions, dtype: int64


column: Sex of Casualty
Male      2325
Female    1577
Name: Sex of Casualty, dtype: int64


column: Type of Vehicle
Car                                                       2554
Pedal cycle                                                530
Bus or coach (17 or more passenger seats)                  192
Motorcycle over 50cc and up to 125cc                       138
Taxi/Private hire car                                      132
Goods vehicle 3.5 tonnes mgw and under                     129
Motorcycle over 500cc                                       78
Motorcycle over 125cc and up to 500cc                       48
M/cycle 50cc and under                                      33
Goods vehicle 7.5 tonnes mgw and over                       26
Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw      12
Minibus (8 ñ 16 passenger seats)                            10
Other Vehicle                                                6
Mobility Scooter                                             6
Motorcycle - Unknown CC                                      4
Ridden horse                                                 3
Agricultural vehicle (includes diggers etc.)                 1
Name: Type of Vehicle, dtype: int64

In [64]:
# phát hiện 2 điểm dữ liệu dị thường
df[df['Road Surface']==9]

     Reference Number  Grid Ref: Easting  ...  Sex of Casualty  Age of Casualty
2518          6490667             427209  ...             Male               65
2019          6171024             425491  ...           Female               28

[2 rows x 17 columns]

In [66]:
# tiến hành xoá 2 điểm này
df.drop(index=[2518,2019], inplace=True)
df[df['Road Surface']==9]

Empty DataFrame
Columns: [Reference Number, Grid Ref: Easting, Grid Ref: Northing, Number of Vehicles, Accident Date, Time (24hr), 1st Road Class, 1st Road Class & No, Road Surface, Lighting Conditions, Weather Conditions, Local Authority, Type of Vehicle, Casualty Class, Casualty Severity, Sex of Casualty, Age of Casualty]
Index: []