In [13]:
import pandas as pd
import numpy as np

# Đọc dữ liệu

In [14]:
df_18 = pd.read_csv('../Data/data_2018.csv')
df_19 = pd.read_csv('../Data/data_2019.csv')

In [15]:
df_18

,Accident Fields_Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,...,Local Authority,Vehicle Fields_Reference Number,Vehicle Number,Type of Vehicle,Casualty Fields_Reference Number,Casualty Veh No,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,51B0230,433936,428874,1,11/01/2018,700,6,U,1,4,...,E08000035,51B0230,1,9,51B0230,1,3,3,2,87
1,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,...,E08000035,51B0349,1,11,51B0349,1,2,3,2,60
2,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,...,E08000035,51B0349,1,11,51B0349,1,2,3,2,51
3,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,...,E08000035,51B0349,1,11,51B0349,1,2,3,2,50
4,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,...,E08000035,51B0349,1,11,51B0349,1,2,3,2,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,5CV0814,432096,427519,2,31/12/2018,1345,1,M1,2,1,...,E08000035,5CV0814,2,9,5CV0814,2,1,2,1,42
1991,5CV0814,432096,427519,2,31/12/2018,1345,1,M1,2,1,...,E08000035,5CV0814,2,9,5CV0814,2,2,3,1,36
1992,5CV0814,432096,427519,2,31/12/2018,1345,1,M1,2,1,...,E08000035,5CV0814,2,9,5CV0814,2,2,3,2,9
1993,5CV0814,432096,427519,2,31/12/2018,1345,1,M1,2,1,...,E08000035,5CV0814,2,9,5CV0814,2,2,3,2,9
1994,5CV1097,429895,433375,1,31/12/2018,1608,6,U,1,4,...,E08000035,5CV1097,1,11,5CV1097,1,3,3,1,18

In [16]:
df_19

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Vehicle Number,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,6
1,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,9
2,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,39
3,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,5
4,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,6CU0181,442094,434619,1,30/12/2019,422,1,M1,2,4,4,E08000035,1,9,1,3,1,27
1903,6CU0363,423019,437653,1,30/12/2019,1000,3,A65,4,1,1,E08000035,1,5,1,2,1,36
1904,6CV0723,436853,442515,2,31/12/2019,1340,3,A58,1,1,1,E08000035,2,1,1,2,1,59
1905,6CV1518,421466,433999,3,31/12/2019,1640,3,A647,1,4,1,E08000035,2,9,1,3,1,41
1906,6CV1518,421466,433999,3,31/12/2019,1640,3,A647,1,4,1,E08000035,2,9,2,3,1,26

# Kiểm tra các cột của 2 tập dữ liệu

In [17]:
print(df_18.columns)
print(df_19.columns)

Index(['Accident Fields_Reference Number', 'Grid Ref: Easting',
       'Grid Ref: Northing', 'Number of Vehicles', 'Accident Date',
       'Time (24hr)', '1st Road Class', '1st Road Class & No', 'Road Surface',
       'Lighting Conditions', 'Weather Conditions', 'Local Authority',
       'Vehicle Fields_Reference Number', 'Vehicle Number', 'Type of Vehicle',
       'Casualty Fields_Reference Number', 'Casualty Veh No', 'Casualty Class',
       'Casualty Severity', 'Sex of Casualty', 'Age of Casualty'],
      dtype='object')
Index(['Reference Number', 'Grid Ref: Easting', 'Grid Ref: Northing',
       'Number of Vehicles', 'Accident Date', 'Time (24hr)', '1st Road Class',
       '1st Road Class & No', 'Road Surface', 'Lighting Conditions',
       'Weather Conditions', 'Local Authority', 'Vehicle Number',
       'Type of Vehicle', 'Casualty Class', 'Casualty Severity',
       'Sex of Casualty', 'Age of Casualty'],
      dtype='object')

Kiểm tra giá trị giống nhau ở các cột nghi vấn

In [18]:
# Cột 'Accident Fields_Reference Number' và 'Vehicle Fields_Reference Number'
(df_18['Accident Fields_Reference Number'] == df_18['Vehicle Fields_Reference Number']).value_counts()

True    1995
dtype: int64

In [19]:
# Cột 'Accident Fields_Reference Number' và 'Casualty Fields_Reference Number'
(df_18['Accident Fields_Reference Number'] == df_18['Casualty Fields_Reference Number']).value_counts()

True    1995
dtype: int64

In [20]:
# Cột 'Number of Vehicles' và 'Vehicle Number' năm 2018 và 2019
print('2018\n', (df_18['Number of Vehicles'] == df_18['Vehicle Number']).value_counts())
print()
print('2019\n', (df_19['Number of Vehicles'] == df_19['Vehicle Number']).value_counts())

2018
 True     1301
False     694
dtype: int64

2019
 True     1288
False     619
dtype: int64

- Vậy phát hiện cột **'Accident Fields_Reference Number', 'Vehicle Fields_Reference Number' và 'Casualty Fields_Reference Number'** trong tập dữ liệu năm 2018 giống nhau. Thực hiện xóa 2 cột sau và đổi tên cột đầu thành **'Reference Number'** để ghép với tập dữ liệu năm 2019

- Trong cả 2 tập dữ liệu, có 2 cột **'Number of Vehicles'** và **'Vehicle Number'** chứa dữ liệu giống nhau trên 65%. Do đó, xoá cột **'Vehicle Number'** ở cả 2 tập dữ liệu

- Ngoài ra cột **'Casualty Veh No'** chỉ có trong tập dữ liệu năm 2018 nên cũng bị xoá để merge dữ liệu

In [21]:
# Xóa cột 'Vehicle Fields_Reference Number', 'Casualty Fields_Reference Number', 'Casualty Veh No', 'Vehicle Number' của năm 2018
df_18.drop(columns=['Vehicle Fields_Reference Number', 'Casualty Fields_Reference Number',
                   'Casualty Veh No', 'Vehicle Number'], inplace=True)

# Xoá cột 'Vehicle Number' của năm 2019
df_19.drop(columns=['Vehicle Number'], inplace=True)

# đổi tên cột thành 'Reference Number'
df_18.rename(columns={'Accident Fields_Reference Number': 'Reference Number'}, inplace=True)

In [25]:
# ghép dữ liệu năm 2018 và 2019
traffic_df = df_18.append(df_19, ignore_index=True)
traffic_df

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,51B0230,433936,428874,1,11/01/2018,700,6,U,1,4,1,E08000035,9,3,3,2,87
1,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,60
2,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,51
3,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,50
4,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,6CU0181,442094,434619,1,30/12/2019,422,1,M1,2,4,4,E08000035,9,1,3,1,27
3898,6CU0363,423019,437653,1,30/12/2019,1000,3,A65,4,1,1,E08000035,5,1,2,1,36
3899,6CV0723,436853,442515,2,31/12/2019,1340,3,A58,1,1,1,E08000035,1,1,2,1,59
3900,6CV1518,421466,433999,3,31/12/2019,1640,3,A647,1,4,1,E08000035,9,1,3,1,41
3901,6CV1518,421466,433999,3,31/12/2019,1640,3,A647,1,4,1,E08000035,9,2,3,1,26

In [28]:
# xuất DataFrame ra file csv
traffic_df.to_csv('../Data/data_2018_2019.csv', index=False)